<div class="container">

    <div class="red">
      <h1>{{ title }}</h1>
    </div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
      <agm-map 
      [latitude]="lat" 
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">
      >
      <agm-marker-cluster 
      imagePath="https://raw.githubusercontent.com/googlearchive/js-marker-clusterer/gh-pages/images/m">
    
        <agm-marker 
        *ngFor="let marker of markers; let i=index"
        [latitude]="marker.lat" 
        [longitude]="marker.lng"
        [label]="marker.name"
        [markerDraggable]="marker.draggable"
        [visible]="marker.category != field_data"
        (click)="openDialog(marker,i)"
        >
        
        <agm-info-window>
          <strong>{{marker.name}}</strong>
        </agm-info-window>
        </agm-marker>

      </agm-marker-cluster>
     
      </agm-map>

      <div class="red">
        <select class="form-select" name="select" [(ngModel)]="field_data.select" (click)="showSelect()">
          <option selected>Please select category</option>
          <option>all</option>
          <option>available</option>
          <option>unavailable</option>
        </select>
  </div>
  
<!--   
  <ul *ngFor="let object of objects">
    <li>{{object.id}}</li>
  </ul>
</div> -->


<!-- [zoomControl]="false"
(mapClick)="mapClicked($event)"
  [markerDraggable]="marker.draggable"
  (dragEnd)="markerDragEnd(marker, $event)"
   [zoom]="zoom"
   [disableDefaultUI]="false"
   (markerClicke)="clickedMarker(marker,i)"
-->

      <!-- <div class="row row justify-content-md-center">
          
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary">Show all cars</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-success">Show available cars</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-warning">Show unavailable cars</button>
            </div>
          
        </div> -->