<div class="container">

    <div class="red">
      <h1>{{ title }}</h1>
    </div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
      <agm-map 
      [latitude]="lat" 
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      >
      
      <agm-marker-cluster 
      imagePath="https://raw.githubusercontent.com/googlearchive/js-marker-clusterer/gh-pages/images/m">
    
            <agm-marker 
            *ngFor="let obj of objects; let i=index"
            [latitude]="obj.location.latitude" 
            [longitude]="obj.location.longitude"
            [label]="obj.name"
            >
      
        
        <agm-info-window>
          <button mat-button (click)="openDialog(obj,i)">{{obj.name}}</button>       
        </agm-info-window>
        </agm-marker>

      </agm-marker-cluster>
      </agm-map>
      <div class="red">
        <div class="row row justify-content-md-center">
          
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary" (click)="showAllCars()">Show all cars</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-success" (click)="hideTrucks()">Hide trucks</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-warning" (click)="hideCars()">Hide Cars</button>
            </div>
          
        </div>
      </div>
</div>  
  <!-- <div class="red">
        <select class="form-select" name="select" [(ngModel)]="field_data.select" (click)="showSelect()">
          <option selected>Please select category</option>
          <option>all</option>
          <option>available</option>
          <option>unavailable</option>
        </select>
      </div>-->

      <!-- <div class="row row justify-content-md-center">
          
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary">Show all cars</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-success">Show available cars</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-warning">Show unavailable cars</button>
            </div>
          
        </div> -->